 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bienvenido</title>
  </head>
  <body>
    <div class="reloj">
      <p class="horas"></p>
      <p class="minutos">:</p>
      <p class="segundos">:</p>

    </div>
    <div id="serie">
      <p>Serie</p>
      <textarea class="serie" id="" cols="30" rows="10"></textarea>

    </div>
    <button class="boton">Actualizar</button>
  </body>
  </html>
  <script src="/javascripts/index.js"></script>